#total_prices{
	width: 100%;
	padding: 10px;
}
#our_price{
	width: 100%;
	padding: 10px;
	text-align: center;
}
.left{
	float: left;
}
.left:after{
	display: block;
	content: '';
	clear: both;
}
.store{
	width: calc(25% - 20px);
	text-align: center;

}
.store_img{
	width: 50%;
	text-align: center;
	    margin: 0 auto;
	    height: 120px;
}
.store_img img{
	margin: 0 auto;
	padding: 10px;
}
.store_price{
	padding-top: 15px;
	font-weight: bold;
	font-size: 2rem;
}